Set-Alias npp "C:\Program Files\Notepad++\notepad++.exe"
# Set-Alias subl 
Set-Alias va ".\.venv\Scripts\Activate.ps1"
Set-Alias c "cls"
Set-Alias ll "ls -al"
Set-Alias l "ls"


function add-ssh() {
    ssh-agent
    ssh-add "C:\Users\fisch\.ssh\id_rsa"
}

function mcd($a) {
    mkdir $a
    cd $a
}

function touch($a) {
    echo "" > $a
}

function update-scoop() {
    Write-Output "Deactivating Proxy"
    scoop config rm proxy
    Write-Output "Updating Scoop"
    scoop update
    Write-Output "Activating default Proxy"
    scoop config proxy currentuser@default
}

function todo() {
    $userDir = $env:USERPROFILE
    $date = Get-Date -Format "dd-MM-yy"
    $fileName = "todo-$date.txt"
    $path = "$userDir\Desktop\todos\$fileName"
    if (!(Test-Path path -PathType Leaf)) {
        New-Item -Path "$path" -ItemType File
    }
    vim $path
}