{
    "cSpell.language": "en,de-DE",
    "workbench.startupEditor": "none",
    "cSpell.userWords": ["curr", "knime"],
    "editor.formatOnSave": true,
    "[html]": {
        "editor.defaultFormatter": "svipas.prettier-plus"
    },
    "[json]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "bracket-pair-colorizer-2.depreciation-notice": false,
    "git.autofetch": true,
    "[vue]": {
        "editor.defaultFormatter": "dbaeumer.vscode-eslint"
    },
    "files.associations": {
        "*.vue": "vue"
    },
    "csv-preview.separator": ";",
    "[dart]": {
        "editor.formatOnSave": true,
        "editor.formatOnType": true,
        "editor.rulers": [80],
        "editor.selectionHighlight": false,
        "editor.suggest.snippetsPreventQuickSuggestions": false,
        "editor.suggestSelection": "first",
        "editor.tabCompletion": "onlySnippets",
        "editor.wordBasedSuggestions": "off"
    },
    "npm.keybindingsChangedWarningShown": true,
    "workbench.iconTheme": "vscode-icons",
    "prettier.singleQuote": true,
    "prettier.semi": false,
    "editor.defaultFormatter": "svipas.prettier-plus",
    "git.enableSmartCommit": true,
    "python.analysis.completeFunctionParens": true,
    "python.analysis.inlayHints.functionReturnTypes": true,
    "files.autoSave": "afterDelay",
    "editor.lineNumbers": "relative",
    "[python]": {
        "editor.defaultFormatter": "ms-python.black-formatter"
    },
    "git.confirmSync": false,
    "eslint.format.enable": true,
    "code-runner.executorMap": {
        "javascript": "node",
        "java": "cd $dir && javac $fileName && java $fileNameWithoutExt",
        "c": "cd $dir && gcc $fileName -o $fileNameWithoutExt && $dir$fileNameWithoutExt",
        //"cpp": "cd $dir && g++ $fileName -o $fileNameWithoutExt && $dir$fileNameWithoutExt",
        "cpp": "cd $dir && g++ $fileName && $dira.out",
        "objective-c": "cd $dir && gcc -framework Cocoa $fileName -o $fileNameWithoutExt && $dir$fileNameWithoutExt",
        "php": "php",
        "python": "py",
        "perl": "perl",
        "perl6": "perl6",
        "ruby": "ruby",
        "go": "go run",
        "lua": "lua",
        "groovy": "groovy",
        "powershell": "powershell -ExecutionPolicy ByPass -File",
        "bat": "cmd /c",
        "shellscript": "bash",
        "fsharp": "fsi",
        "csharp": "cd $dir && dotnet run",
        "vbscript": "cscript //Nologo",
        "typescript": "ts-node",
        "coffeescript": "coffee",
        "scala": "scala",
        "swift": "swift",
        "julia": "julia",
        "crystal": "crystal",
        "ocaml": "ocaml",
        "r": "Rscript",
        "applescript": "osascript",
        "clojure": "lein exec",
        "haxe": "haxe --cwd $dirWithoutTrailingSlash --run $fileNameWithoutExt",
        "rust": "cd $dir && rustc $fileName && $dir$fileNameWithoutExt",
        "racket": "racket",
        "scheme": "csi -script",
        "ahk": "autohotkey",
        "autoit": "autoit3",
        "dart": "dart",
        "pascal": "cd $dir && fpc $fileName && $dir$fileNameWithoutExt",
        "d": "cd $dir && dmd $fileName && $dir$fileNameWithoutExt",
        "haskell": "runhaskell",
        "nim": "nim compile --verbosity:0 --hints:off --run",
        "lisp": "sbcl --script",
        "kit": "kitc --run",
        "v": "v run",
        "sass": "sass --style expanded",
        "scss": "scss --style expanded",
        "less": "cd $dir && lessc $fileName $fileNameWithoutExt.css",
        "FortranFreeForm": "cd $dir && gfortran $fileName -o $fileNameWithoutExt && $dir$fileNameWithoutExt",
        "fortran-modern": "cd $dir && gfortran $fileName -o $fileNameWithoutExt && $dir$fileNameWithoutExt",
        "fortran_fixed-form": "cd $dir && gfortran $fileName -o $fileNameWithoutExt && $dir$fileNameWithoutExt",
        "fortran": "cd $dir && gfortran $fileName -o $fileNameWithoutExt && $dir$fileNameWithoutExt",
        "sml": "cd $dir && sml $fileName"
    },
    "[csharp]": {
        "editor.defaultFormatter": "ms-dotnettools.csharp"
    },
    "editor.accessibilitySupport": "off",
    "prettier.requireConfig": true,
    "prettier.tabWidth": 4,
    "todo-tree.general.tagGroups": {},
    "todo-tree.general.tags": [
        "BUG",
        "HACK",
        "FIXME",
        "TODO",
        "XXX",
        "[ ]",
        "[x]",
        "todo"
    ],
    "vsicons.dontShowNewVersionMessage": true,
    "liveServer.settings.useLocalIp": true,
    "liveServer.settings.donotShowInfoMsg": true,
    "[java]": {
        "editor.defaultFormatter": "redhat.java"
    },
    "git.pruneOnFetch": true,
    "dart.debugExternalPackageLibraries": false,
    "dart.debugSdkLibraries": false,
    "redhat.telemetry.enabled": false,
    "[yaml]": {
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "window.zoomLevel": 1,
    "workbench.settings.applyToAllProfiles": ["editor.formatOnSave"],
    "python.languageServer": "Pylance",
    "git.openRepositoryInParentFolders": "never",
    "editor.fontFamily": "VictorMono Nerd Font, JetbrainsMono Nerd Font, FiraCode Nerd Font, Consolas, 'Courier New', monospace",
    "editor.fontLigatures": true
}
